 .boundary-1,
 .boundary-2 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: gainsboro;
     text-align: center;
     margin-bottom: 10%;
 }
 
 body {
     background: black;
 }
 
 .boundary-1 u {
     text-align: center;
 }
 
 .heading1,
 .heading2 {
     margin-bottom: 15%;
     font-size: 32px;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     text-transform: uppercase;
     display: flex;
 }
 
 .display {
     margin-bottom: 5%;
 }
 
 .input {
     padding: 5px;
     text-align: center;
     background: beige;
     line-height: 40px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     border-radius: 5%;
 }
 
 label {
     font-size: 20px;
     font-weight: bold;
 }
 
 button {
     margin-bottom: 10%;
 }
 
 .dt {
     margin-bottom: 5%;
 }
 
 #dob {
     margin-bottom: 10%;
 }