.boundary {
    position: relative;
    margin: auto;
    width: 80%;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 20%;
    border: 2px solid yellowgreen;
    margin-top: 1%;
}

.banner {
    height: 45%;
    background-image: linear-gradient(45deg, #c0392b, #8e44ad);
}

.name {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
    width: 25%;
    height: 25%;
    background-color: yellowgreen;
    color: white;
    margin-bottom: 1%;
    font-weight: bold;
}

.contact {
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.details {
    column-count: 2;
    column-rule: 2px solid gainsboro;
}

.skills {
    list-style-type: none;
}

progress {
    position: absolute;
    width: 20%;
    left: 20%;
}

h4 {
    position: relative;
    left: 3%;
}