th,
td {
    height: 30px;
    vertical-align: center;
    text-align: center;
    padding: 10px;
    width: 5%;
    border-bottom: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

th {
    font-size: 24px;
    padding: 8px;
}

.dataTable {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
}

tr:nth-child(even) {
    background: rgb(237, 238, 238);
}

thead tr {
    background: rgb(53, 51, 51);
    color: white;
}

.heading {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1%;
}

.anchorlist {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.anchorlist a {
    color: blue;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.anchorlist a:hover {
    background: gainsboro;
}